## Preprocessing

In [4]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN','NAME'], axis=1)

In [6]:
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [24]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [51]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = application_df.APPLICATION_TYPE.value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [52]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_counts[app_counts<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [54]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df['CLASSIFICATION'].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [55]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts[class_counts>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [56]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_counts[class_counts<1800].index)
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [59]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_dummies = pd.get_dummies(application_df).head()

In [83]:
# Split our preprocessed data into our features and target arrays
y = application_df_dummies['IS_SUCCESSFUL']
X = application_df_dummies.drop(['IS_SUCCESSFUL'],axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=80)

In [84]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [85]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
num_features = len(X_train_scaled[0])
nodes_1 = 80
nodes_2 = 30
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=nodes_1, activation="relu", input_dim=num_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=nodes_2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_18 (Dense)            (None, 80)                3520

 dense_19 (Dense)            (None, 30)                2430

 dense_20 (Dense)            (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [86]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [87]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100

1/1 [==============================] - 0s 372ms/step - loss: 0.6825 - accuracy: 0.6667
Epoch 2/100
1/1 [==============================] - 0s 3ms/step - loss: 0.6394 - accuracy: 0.6667
Epoch 3/100
1/1 [==============================] - 0s 3ms/step - loss: 0.6011 - accuracy: 0.6667
Epoch 4/100
1/1 [==============================] - 0s 3ms/step - loss: 0.5647 - accuracy: 1.0000
Epoch 5/100
1/1 [==============================] - 0s 5ms/step - loss: 0.5309 - accuracy: 1.0000
Epoch 6/100
1/1 [==============================] - 0s 4ms/step - loss: 0.4975 - accuracy: 1.0000
Epoch 7/100
1/1 [==============================] - 0s 3ms/step - loss: 0.4668 - accuracy: 1.0000
Epoch 8/100
1/1 [==============================] - 0s 3ms/step - loss: 0.4392 - accuracy: 1.0000
Epoch 9/100
1/1 [==============================] - 0s 4ms/step - loss: 0.4130 - accuracy: 1.0000
Epoch 10/100
1/1 [==============================] - 0s 4ms/step - loss: 0.3872 - accuracy: 1.0000
Epoch 11/100
1/1 [==============================] - 0s 4ms/step - loss: 0.3632 - accuracy: 1.0000
Epoch 12/100
1/1 [==============================] - 0s 4ms/step - loss: 0.3411 - accuracy: 1.0000
Epoch 13/100
1/1 [==============================] - 0s 5ms/step - loss: 0.3204 - accuracy: 1.0000
Epoch 14/100
1/1 [==============================] - 0s 19ms/step - loss: 0.3011 - accuracy: 1.0000
Epoch 15/100
1/1 [==============================] - 0s 7ms/step - loss: 0.2834 - accuracy: 1.0000
Epoch 16/100
1/1 [==============================] - 0s 5ms/step - loss: 0.2671 - accuracy: 1.0000
Epoch 17/100
1/1 [==============================] - 0s 6ms/step - loss: 0.2519 - accuracy: 1.0000
Epoch 18/100
1/1 [==============================] - 0s 6ms/step - loss: 0.2376 - accuracy: 1.0000
Epoch 19/100
1/1 [==============================] - 0s 4ms/step - loss: 0.2238 - accuracy: 1.0000
Epoch 20/100
1/1 [==============================] - 0s 3ms/step - loss: 0.2103 - accuracy: 1.0000
Epoch 21/100
1/1 [==============================] - 0s 8ms/step - loss: 0.1975 - accuracy: 1.0000
Epoch 22/100
1/1 [==============================] - 0s 4ms/step - loss: 0.1854 - accuracy: 1.0000
Epoch 23/100
1/1 [==============================] - 0s 4ms/step - loss: 0.1738 - accuracy: 1.0000
Epoch 24/100
1/1 [==============================] - 0s 4ms/step - loss: 0.1629 - accuracy: 1.0000
Epoch 25/100
1/1 [==============================] - 0s 4ms/step - loss: 0.1525 - accuracy: 1.0000
Epoch 26/100
1/1 [==============================] - 0s 5ms/step - loss: 0.1427 - accuracy: 1.0000
Epoch 27/100
1/1 [==============================] - 0s 3ms/step - loss: 0.1334 - accuracy: 1.0000
Epoch 28/100
1/1 [==============================] - 0s 5ms/step - loss: 0.1248 - accuracy: 1.0000
Epoch 29/100
1/1 [==============================] - 0s 4ms/step - loss: 0.1167 - accuracy: 1.0000
Epoch 30/100
1/1 [==============================] - 0s 5ms/step - loss: 0.1092 - accuracy: 1.0000
Epoch 31/100
1/1 [==============================] - 0s 5ms/step - loss: 0.1022 - accuracy: 1.0000
Epoch 32/100
1/1 [==============================] - 0s 4ms/step - loss: 0.0958 - accuracy: 1.0000
Epoch 33/100
1/1 [==============================] - 0s 5ms/step - loss: 0.0899 - accuracy: 1.0000
Epoch 34/100
1/1 [==============================] - 0s 4ms/step - loss: 0.0844 - accuracy: 1.0000
Epoch 35/100
1/1 [==============================] - 0s 5ms/step - loss: 0.0792 - accuracy: 1.0000
Epoch 36/100
1/1 [==============================] - 0s 5ms/step - loss: 0.0744 - accuracy: 1.0000
Epoch 37/100
1/1 [==============================] - 0s 3ms/step - loss: 0.0699 - accuracy: 1.0000
Epoch 38/100
1/1 [==============================] - 0s 4ms/step - loss: 0.0656 - accuracy: 1.0000
Epoch 39/100
1/1 [==============================] - 0s 7ms/step - loss: 0.0616 - accuracy: 1.0000
Epoch 40/100
1/1 [==============================] - 0s 5ms/step - loss: 0.0579 - accuracy: 1.0000
Epoch 41/100
1/1 [==============================] - 0s 5ms/step - loss: 0.0545 - accuracy: 1.0000
Epoch 42/100
1/1 [==============================] - 0s 4ms/step - loss: 0.0512 - accuracy: 1.0000
Epoch 43/100
1/1 [==============================] - 0s 4ms/step - loss: 0.0482 - accuracy: 1.0000
Epoch 44/100
1/1 [==============================] - 0s 4ms/step - loss: 0.0454 - accuracy: 1.0000
Epoch 45/100
1/1 [==============================] - 0s 4ms/step - loss: 0.0428 - accuracy: 1.0000
Epoch 46/100
1/1 [==============================] - 0s 5ms/step - loss: 0.0404 - accuracy: 1.0000
Epoch 47/100
1/1 [==============================] - 0s 4ms/step - loss: 0.0381 - accuracy: 1.0000
Epoch 48/100
1/1 [==============================] - 0s 5ms/step - loss: 0.0360 - accuracy: 1.0000
Epoch 49/100
1/1 [==============================] - 0s 3ms/step - loss: 0.0341 - accuracy: 1.0000
Epoch 50/100
1/1 [==============================] - 0s 5ms/step - loss: 0.0324 - accuracy: 1.0000
Epoch 51/100
1/1 [==============================] - 0s 3ms/step - loss: 0.0307 - accuracy: 1.0000
Epoch 52/100
1/1 [==============================] - 0s 7ms/step - loss: 0.0291 - accuracy: 1.0000
Epoch 53/100
1/1 [==============================] - 0s 6ms/step - loss: 0.0277 - accuracy: 1.0000
Epoch 54/100
1/1 [==============================] - 0s 7ms/step - loss: 0.0263 - accuracy: 1.0000
Epoch 55/100
1/1 [==============================] - 0s 7ms/step - loss: 0.0251 - accuracy: 1.0000
Epoch 56/100
1/1 [==============================] - 0s 4ms/step - loss: 0.0239 - accuracy: 1.0000
Epoch 57/100
1/1 [==============================] - 0s 5ms/step - loss: 0.0228 - accuracy: 1.0000
Epoch 58/100
1/1 [==============================] - 0s 5ms/step - loss: 0.0217 - accuracy: 1.0000
Epoch 59/100
1/1 [==============================] - 0s 5ms/step - loss: 0.0208 - accuracy: 1.0000
Epoch 60/100
1/1 [==============================] - 0s 7ms/step - loss: 0.0199 - accuracy: 1.0000
Epoch 61/100
1/1 [==============================] - 0s 7ms/step - loss: 0.0190 - accuracy: 1.0000
Epoch 62/100
1/1 [==============================] - 0s 6ms/step - loss: 0.0182 - accuracy: 1.0000
Epoch 63/100
1/1 [==============================] - 0s 5ms/step - loss: 0.0174 - accuracy: 1.0000
Epoch 64/100
1/1 [==============================] - 0s 5ms/step - loss: 0.0167 - accuracy: 1.0000
Epoch 65/100
1/1 [==============================] - 0s 5ms/step - loss: 0.0161 - accuracy: 1.0000
Epoch 66/100
1/1 [==============================] - 0s 4ms/step - loss: 0.0154 - accuracy: 1.0000
Epoch 67/100
1/1 [==============================] - 0s 5ms/step - loss: 0.0148 - accuracy: 1.0000
Epoch 68/100
1/1 [==============================] - 0s 5ms/step - loss: 0.0143 - accuracy: 1.0000
Epoch 69/100
1/1 [==============================] - 0s 4ms/step - loss: 0.0138 - accuracy: 1.0000
Epoch 70/100
1/1 [==============================] - 0s 3ms/step - loss: 0.0133 - accuracy: 1.0000
Epoch 71/100
1/1 [==============================] - 0s 6ms/step - loss: 0.0128 - accuracy: 1.0000
Epoch 72/100
1/1 [==============================] - 0s 4ms/step - loss: 0.0123 - accuracy: 1.0000
Epoch 73/100
1/1 [==============================] - 0s 4ms/step - loss: 0.0119 - accuracy: 1.0000
Epoch 74/100
1/1 [==============================] - 0s 3ms/step - loss: 0.0115 - accuracy: 1.0000
Epoch 75/100
1/1 [==============================] - 0s 3ms/step - loss: 0.0111 - accuracy: 1.0000
Epoch 76/100
1/1 [==============================] - 0s 4ms/step - loss: 0.0108 - accuracy: 1.0000
Epoch 77/100
1/1 [==============================] - 0s 3ms/step - loss: 0.0104 - accuracy: 1.0000
Epoch 78/100
1/1 [==============================] - 0s 4ms/step - loss: 0.0101 - accuracy: 1.0000
Epoch 79/100
1/1 [==============================] - 0s 4ms/step - loss: 0.0098 - accuracy: 1.0000
Epoch 80/100
1/1 [==============================] - 0s 4ms/step - loss: 0.0095 - accuracy: 1.0000
Epoch 81/100
1/1 [==============================] - 0s 6ms/step - loss: 0.0092 - accuracy: 1.0000
Epoch 82/100
1/1 [==============================] - 0s 36ms/step - loss: 0.0090 - accuracy: 1.0000
Epoch 83/100
1/1 [==============================] - 0s 5ms/step - loss: 0.0087 - accuracy: 1.0000
Epoch 84/100
1/1 [==============================] - 0s 4ms/step - loss: 0.0085 - accuracy: 1.0000
Epoch 85/100
1/1 [==============================] - 0s 6ms/step - loss: 0.0082 - accuracy: 1.0000
Epoch 86/100
1/1 [==============================] - 0s 4ms/step - loss: 0.0080 - accuracy: 1.0000
Epoch 87/100
1/1 [==============================] - 0s 5ms/step - loss: 0.0078 - accuracy: 1.0000
Epoch 88/100
1/1 [==============================] - 0s 4ms/step - loss: 0.0076 - accuracy: 1.0000
Epoch 89/100
1/1 [==============================] - 0s 4ms/step - loss: 0.0074 - accuracy: 1.0000
Epoch 90/100
1/1 [==============================] - 0s 4ms/step - loss: 0.0072 - accuracy: 1.0000
Epoch 91/100
1/1 [==============================] - 0s 4ms/step - loss: 0.0070 - accuracy: 1.0000
Epoch 92/100
1/1 [==============================] - 0s 4ms/step - loss: 0.0068 - accuracy: 1.0000
Epoch 93/100
1/1 [==============================] - 0s 4ms/step - loss: 0.0067 - accuracy: 1.0000
Epoch 94/100
1/1 [==============================] - 0s 4ms/step - loss: 0.0065 - accuracy: 1.0000
Epoch 95/100
1/1 [==============================] - 0s 4ms/step - loss: 0.0064 - accuracy: 1.0000
Epoch 96/100
1/1 [==============================] - 0s 3ms/step - loss: 0.0062 - accuracy: 1.0000
Epoch 97/100
1/1 [==============================] - 0s 5ms/step - loss: 0.0061 - accuracy: 1.0000
Epoch 98/100
1/1 [==============================] - 0s 7ms/step - loss: 0.0059 - accuracy: 1.0000
Epoch 99/100
1/1 [==============================] - 0s 3ms/step - loss: 0.0058 - accuracy: 1.0000
Epoch 100/100
1/1 [==============================] - 0s 4ms/step - loss: 0.0057 - accuracy: 1.0000

In [79]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

1/1 - 0s - loss: 5.4613e-18 - accuracy: 1.0000 - 97ms/epoch - 97ms/step
Loss: 5.461304484426205e-18, Accuracy: 1.0

In [38]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE